@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../../fonts/pacifico.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    padding: 0;
    margin: 0;
}