.o-section-one {
    height: 560px;

    @mixin atMinimum {
        height: 906px;
    }

    @mixin atLarge {
        height: 1080px;
    }
}

.o-section-two {
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 384px;
    background: white;
}

.o-section-three {
    width: 100%;
    height: 512px;
    background: #dfe2db url('images/footer-bg.png') no-repeat center bottom;
    background-size: contain;
    z-index: 10;
}

.o-section-four {
    width: 100%;
    height: 192px;
    background-color: #191919;
}